.App {
  box-sizing: border-box;
  max-width: 1920px;
  position: relative;
  margin: auto;
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: clip;
  /* padding-bottom: calc(2*var(--p1));  height of footer */
  padding-bottom: 2rem; /* height of footer */
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: lightblue;
  padding-top: 7rem;
  color: white;

  background-image: url('back.JPG');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
